.category_linkto {
  color: black;
  text-decoration: none;
}

/* .product{
    display:inline-block;
    margin:2px;
    border :1px solid black;
    width:24%;

}
.product img{
    display: block;
    width: 100%;
    height: 80%;
}
.product h3{
    text-align:center;

} */
.navbar-nav {
  font-size: 1.5rem;
}

.customh4 {
  font-size: 1.3vw;
}

.navbar-brand {
  width: 80vw;
  padding-left: 5rem;
  font-size: 3rem;
}

/*
#Error_Msg {
  font-weight: bold;
  font-size: 62px;
  margin-bottom: 16px;
}

.add_edit {
  border: 1px solid red;
}

.products {
  text-align: center;
  border: 1px solid black;

}

.add {
  border: 1px dotted blue;
}

.edit {
  border: 1px dotted blue;
} */

.productdesc {
  max-width: 14vw;
}

/* .producttitle{
    max-width: 14vw;
}  */

.customh4 {
  font-size: 1.5vw;
}

.productdesc {
  max-width: 14vw;
}

.pdetails {
  margin: 5% 0%;
}

.descpd {
  margin: 3% 0%;
}

.pricepd {
  margin: 4% 0%;
}

.btnpd {
  margin: 12% 0%;
}

.imgpd {
  width: 30rem;
}

.navbar {
  margin-bottom: 2rem;
}
