<div class="card">
    <img class="card-img-top img-fluid" src={{@source}} alt="product image">
    <div class="card-body">
        <h6 class="card-title ">{{@title}}</h6>
        <p class="card-text d-inline-block text-truncate productdesc" >{{@desc}}</p>
        <h5  class="card-text">{{currencysign @price }}</h5>
    </div>    
</div>